aside#uconn_in_the_news-2 {
    background-color: #efefef;
    padding: 15px 10px;
    max-width: 275px; /* Remove for bootstrapping */
    border: 1px solid #e3e3e3;
    margin: 20px auto; /* Remove for bootstrapping */
}

h2.uc_in_the_news_title {
    font-size: 25px; /* Remove for bootstrapping */
    border-bottom: 2px solid #b3b3b3;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: black;
}

section.uc_in_the_news_list {
    overflow: hidden;
    position: relative;
    padding-right: 40px;
}

div.uc_in_the_news_slider {
    overflow: hidden;
    position: relative;
}

div.uc_in_the_news_half {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

div.news_half_showing {
    top: 0;
}

div.news_half_hidden {
    top: -650px;
}

div.uc_in_the_news_item {
    margin-bottom: 20px;
}

div.uc_in_the_news_item > h2 {
    font-family: Helvetica, Arial, sans-serif; /* Remove for bootstrapping */
    font-weight: bold; /* Remove for bootstrapping */
    font-size: 15px; /* Remove for bootstrapping */
    line-height: 1.4; /* Change for bootstrapping */
    margin: 5px 0;
}

div.uc_in_the_news_item > h2 > a {
    color: #5a84a6;
}

div.uc_in_the_news_item > h4 {
    font-family: Helvetica, Arial, sans-serif; /* Remove for bootstrapping */
    font-weight: 500; /* Remove for bootstrapping */
    font-style: italic;
    color: black;
    font-size: 18px; /* Remove for bootstrapping */
}

a.uc_in_the_news_arrow {
    position: absolute;
    right: -15px;
    bottom: 5px;
    font-size: 40px;
    width: 50px;
    height: 50px;
}

a.uc_in_the_news_arrow:focus {
    outline: 0;
}

a.uc_in_the_news_arrow.arrow_up {
    bottom: 40px;
}

.disabled, .disabled:visited {
    color: #e1e1e1;
}

a.uc_in_the_news_arrow > .material-icons {
    font-size: 36px;
}